extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content

  include ../common/header
  

  section.about
    article.skills
      .skills__block.skills__block--about
        .skills__left-title
          
          +image('titles/about_header.png', 'background', 'about__title-icon')
          h1.subtitle.subtitle--about Обо мне
        .skills__user-info
          .user-desc
            .user-desc__pic
              img(src="./assets/images/content/me.jpg", alt="user").user-desc__pic-img
            .user-desc__info
              h2.user-desc__title
                h3.subtitle.subtitle--who Кто я
              .user-desc__text
                p Я веб разработчик из Уфы. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      .skills__block.skills__block--achievements
        .skills__right-title
          .subtitle.subtitle--use Чем я могу быть вам полезна
        .skills__small-desc
          .p Больше всего меня привлекет Frontend разработка, но я также знакома и могу решать не сложные задачи на Backend. Но давайте по порядку.
        .skills__content
         

          - 
            var skills = [
              ['Frontend', [['Html5', 30], ['css3', 50], ['JavaScript & jQuery', 70]]],
              ['Backend', [['PHP', 30], ['mySQL', 50], ['Node.js & npm', 70]]],
              ['WorkFlow', [['Git', 30], ['Gulp', 50], ['Bower', 20]]],
            ]

          ul.skills-list
            each skillsrow in skills
              li.skills-list__item.skills-row
                .skills-row__title #{skillsrow[0]}
                ul.skills-row__list
                  each skill in skillsrow[1]
                    li.skills-row__item
                      figure.skill(data-percents="70")
                        svg(viewBox="0 0 100 100" preserveAspectRatio="none").skill__figure
                          circle(cx="50%" cy="50%" r="40").skill__circle.skill__circle_under
                          circle(cx="50%" cy="50%" r="40").skill__circle.skill__circle_above
                        .skill__title #{skill[0]}   

  section.map
    .map-img
      .contacts
        .contacts__title
          h3.subtitle Контакты
        address.contacts__info
          ul.contacts__list
            - 
              var contacts = [
                ['skype', 'olgar.mamaeva'],
                ['envelope', 'olgar.mamaeva@rambler.ru'],
                ['phone', '+7 (903) 355-96-53'],
                ['map_marker', 'Башкортостан, г.Уфа']
              ]
            each item in contacts
              li.contacts__item
                .contacts__icon
                  +icon(`${item[0]}`, 'contacts__icon-img')
                .contacts__desc #{item[1]}

