extends ../auth.layout.pug

block content
           
  .wrapper
    .welcome
      include ../common/parallax
      
      .welcome__btn
        button.welcome__btn-autoriz.js-authoriz(type="button") Авторизоваться

      .welcome__block
  
        include ../common/user
         
      .welcome__copyright
        .copyright.copyright_center 
          p &copy; Ольга Егер | Создано с любовью в LoftSchool | 2018
                