extends ../main.layout.pug

block variables
  - var title = 'Мои работы'

block scripts
  script(src='works.bundle.js')

block content

  include ../common/header.pug

  section.slider
    .slider__title
      +icon('works_header', 'slider__title-pic')
      h1.subtitle Мои работы
    .slider__wrapper
      #slider-component   

  include ../common/reviews.pug
         
