header.header
    .header-container
        .header__socials

            +socials('header')
        //-ul.socials
            each social in ['vk', 'github', 'in']
            li.socials__item
             a(href="").socials__link
              +icon(social, "socials__icon")

        .header__menu
            button.hamburger(type="button")
                .hamburger__planks

        .header__block
            .header__bg
                +image('titles/portfolio_header.png', 'page title', 'header__title-img')
            .header__content      
                .header__user-desc
                    .user
                        .user__container
                            .user__pic
                                +image('content/me-square.jpg', 'user picture', 'user__pic-img')
                            .user__info 
                                h2.user__name Ольга Егер
                                h3.user__desc Личный сайт веб разработчика 

        .header__btn
            button.arrow(type="button")
                +icon('arrow_down', 'arrow__down')