.parallax
        .parallax__layer
          img.parallax__img.parallax__img--back(src="./assets/images/parallax/Layer_5.png", alt="mountains")
        .parallax__layer
          img.parallax__img(src="./assets/images/parallax/Layer_8.png", role="presentation")
        .parallax__layer
          img.parallax__img(src="./assets/images/parallax/Layer_7.png", role="presentation")
        .parallax__layer
          img.parallax__img.parallax__img--cloud4(src="./assets/images/parallax/cloud_PNG4.png", role="presentation")
        
        .parallax__layer
          img.parallax__img(src="./assets/images/parallax/Layer_6.png", role="presentation")
        .parallax__layer
          img.parallax__img(src="./assets/images/parallax/Layer_4.png", role="presentation")
        .parallax__layer
          img.parallax__img.parallax__img--sky(src="./assets/images/parallax/sky.png", role="presentation")
        
        .parallax__layer
          img.parallax__img(src="./assets/images/parallax/Layer_2.png", role="presentation")
        .parallax__layer
          img.parallax__img(src="./assets/images/parallax/Layer_1.png", role="presentation")
        .parallax__layer
          img.parallax__img.parallax__img--cloud5(src="./assets/images/parallax/cloud_PNG5.png", role="presentation")