.parallax
        .parallax__layer
          img.parallax__img(src="./assets/images/parallax/Layer_5.png", alt="mountains")
        .parallax__layer
          img.parallax__img(src="./assets/images/parallax/Layer_8.png", alt="mountains")
        .parallax__layer
          img.parallax__img(src="./assets/images/parallax/Layer_7.png", alt="mountains")
        .parallax__layer
          img.parallax__img(src="./assets/images/parallax/cloud_PNG4.png", alt="mountains")
        
        .parallax__layer
          img.parallax__img(src="./assets/images/parallax/Layer_6.png", alt="mountains")
        .parallax__layer
          img.parallax__img(src="./assets/images/parallax/Layer_4.png", alt="mountains")
        .parallax__layer
          img.parallax__img(src="./assets/images/parallax/sky.png", alt="mountains")
        
        //-.parallax__layer
          img.parallax__img(src="./assets/images/parallax/Layer_2.png", alt="mountains")
        .parallax__layer
          img.parallax__img(src="./assets/images/parallax/Layer_1.png", alt="mountains")
        //-.parallax__layer
          img.parallax__img(src="./assets/images/parallax/cloud_PNG5.png", alt="mountains")