.user
    .user__container
        .user__pic
            +image('content/me-square.jpg', 'user pic', 'user__pic-img')
        .user__info
            h1.user__name Ольга Егер
            h2.user__desc Личный сайт веб разработчика 
        .user__social
            +socials('block')

        .user__pages
            +menuWelcome('welcome')