script(type="text/x-template")#slider-root
    .slider-container
        info(
            :work="currentWork"
        )
        display(
            :work="currentWork"
        )
        btns(
            :works="works",
            :index="currentIndex",
            @slide="handleSlide"
        )

script(type="text/x-template")#slider-info
    .slider__info-container
        .slider__info
            .slider__info-title
                .subtitle.subtitle--slider {{work.title}}
                .slider__info-skills {{work.skills}}
                .slider__info-button
                    a(:href="work.link" target="_blank").slider__info-link
                        svg(class="slider__info-icon")
                            use(xlink:href='./assets/images/icons/sprite.svg#link')
                        .slider__info-text Посмотреть сайт

script(type="text/x-template")#slider-display 
    .slider__display
        img(:src="work.photo", alt="my work").slider__big-pic


script(type="text/x-template")#slider-btns
    .slider__buttons
        button.slider__button(@click="slide('prev')" type="button")
            .slider__button-container
                .slider__button-img-wrap

                    img(:src="prevButtonWorks[index].photo", alt="my work").slider__button-pic
        button.slider__button.slider__button_next(@click="slide('next')" type="button")
            .slider__button-container
                .slider__button-img-wrap()
                    
                    img(:src="nextButtonWorks[index].photo", alt="my work").slider__button-pic                    