@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin phones {
    @media screen and (max-width: 480px) {
      font-size: 14px;
      @content;
    }
  }
@mixin tablets {
    @media screen and (max-width: 768px) {
      font-size: 15px;
      @content;
    }
  }
@mixin laptop {
    @media screen and (max-width: 992px) {
      @content;
    }
  }

  @mixin desktop {
    @media screen and (max-width: 1200px) {
      @content;
    }
  } 

@mixin big {
    @media screen and (max-width: 1800px) {
      @content;
    }
  }