.skills__left-title {
    position: relative;
}
.about {
    &__title-icon {
        position: absolute;
        top:-120px;
    }
}
.skills {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 1200px) {
        flex-wrap: nowrap;
    }

    &:before {
        position: absolute;
        top: -300px;
        height: calc(100% + 300px);
        width: 100%;
        content: "";
        z-index: -1;
        background: $white;

        @media (min-width: 1200px) {
            background: linear-gradient(90deg, $white 50%, $beige 0);
        }
    }

    &__block {
        flex-basis: 100%;
        padding: 30px;

        @media (min-width: 1200px) {
            flex-basis: 50%;
        }

        &--about {}

        &--achievements {}
    }
}
