.blog {
    display: flex;
    justify-content: center;
    width: 95%;
    margin-top: -80px;
    min-height: 100vh;


    &-menu {
        margin-top: 5px;
        margin-right: 98px;
        position: sticky;
        top: 30px;
        transition: all .8s;

        @include tablets {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            margin: 0;
            background-color: $green;
            width: 280px;
            margin-right: 0;

            &--close {
                transform: translate(-100%);
            }
        }

        &__item {
            text-align: right;
            max-width: 260px;
            min-height: 42px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: 24px;
            cursor: pointer;

            &--active {
                border-right: 3px solid $green;
            }

            &--active .blog-menu__link {
                color: $green;
                font-weight: bold;
            }
        }

        &__btn {
            background: transparent;
            text-align: right;
            padding: 0;
            color: $text-color;
            margin-right: 17px;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            outline: none;
        
            &:hover {
                color: $green;
                transition: .5s;
        
                @include tablets {
                    color: white;
                }
            }
        }
        
        &__button {
            display: none;
            outline: none;
        
            @include tablets {
                position: absolute;
                display: block;
                right: -20px;
                top: 50%;
                width: 40px;
                height: 40px;
                border-top-right-radius: 50%;
                border-bottom-right-radius: 50%;
                background-color: $green;
                color: white;
        
            }
        }
    }

    &__articles {
        @include tablets {
            margin-left: 10px;
        }
    }
}


.articles {

    &__item {
        max-width: 680px;
        padding-bottom: 70px;
        border-bottom: 5px solid $green;
        border-color: rgba($grey, 0.07);
        margin-bottom: 64px;

        &:last-child {
            border: none;
            margin-bottom: 120px;
        }

        &-title {
            font-family: 'bernier';
            font-size: 35px;
            font-weight: 400;
            line-height: 41px;
            margin-bottom: 28px;
        }

        &-date {
            color: $green;
            margin-bottom: 28px;
        }

        &-content {
            margin-top: 20px;
        }
    }
}