.contacts {
  position: relative;
}

.contacts-wrapper {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 290px;
    background-color: rgba(#fcfcfc,.85);
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
  }
  
  .contacts__info {
    font-size: 16px;
    font-style: normal;
  }
  
  .contacts__item {
    display: flex;
    margin: 20px;
  }
  
  .contacts__icon-img {
    width: 24px;
    height: 24px;
    fill: $green;
  }
  
  .contacts__title {
    display: flex;
    justify-content: center;
  
  }
  
  .contacts__desc {
    margin-left: 30px;
    cursor: pointer;
    text-decoration: none;
    color: $text-color;
  }