.footer {
    background-color: rgb($grey);
    opacity: 0.95;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer__row {
    display: flex;
    align-items: center;
    height: 75px;

    @include tablets {
        flex-direction: column;
        margin-top: 10px;
        //margin-bottom: 10px;
    }

    &:first-child {
        border-bottom: 1px solid rgba($light-grey, 0.3);


    }
}

.footer__col {
    flex: 1;
    display: flex;

    @include tablets {
        margin-bottom: 10px;
        text-align: center;
    }

}

.footer__col_justyfy_right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    @include tablets {
        margin-bottom: 10px;
        align-items: center;
    }
}

.footer__socials {
    margin-right: 30px;
}