.contacts__map {
    height: 100vh;
    &-img {
        position: absolute;
       // background: url('assets/images/bg/map.jpg') center center / cover no-repeat;
        width: 100%;
        height: 100vh;
    }
}