.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #009688;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.overlay__container {
    position: relative;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay__content {
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Roboto-Regular';
}

.overlay__btn {
width: 100px;
height: 40px;
    padding: 7px 11px;
    background-color: $green;
    border-radius: 5px;
    border: 1px solid transparent;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}