.parallax {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    &__layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        will-change: transform animation;

    }

    &__img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -10%;
        width: 110%;
        &--back {
            height: 110%;
        }

        &--sky {
            width: 20%;
            bottom: 70%;
            left: -5%;
            animation: cloudSky 95s linear infinite;
        }

        &--cloud4 {
            left: 20%;
            animation: cloudMove 85s linear infinite;
        }

        &--cloud5 {
            bottom: 5%;
            animation: cloudMove 65s linear infinite;
        }
    }
}

@keyframes cloudSky {
    from {
      left: -10%;
    }
    to {
      left: 115%;
    }
}

@keyframes cloudMove {
    from {
        left: -5%;
    }
    to {
        left: 110%;
    }   
}