.slider {
    //background: #faf8f0;

    &__title {
        position: relative;
        text-align: center;

        &-pic {
            fill: #f0eee7;
            width: 506px;
            //height: 165px;
            transition: all .3s;

            @include tablets {
                width: 450px;
            }

            @include phones {
                width: 370px;
            }
        }

        .subtitle {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 63px;
        }

        @include tablets {
            font-size: 45px;
        }

        @include phones {
            font-size: 35px;
        }
    }
}

.slider-container {
    height: 100vh;
    min-height: 600px;
    background: #f0efe9;
    display: grid;
    grid-template:
        "info display"75% "info btns"25% / 1fr 1fr;

    @include tablets {
        grid-template:
            "display"40% "info"40% "btns"20% / 1fr;
    }
}

.slider__info-container {
    grid-area: info;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__info-link {
    background: $green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 4px;
    max-height: 46px;
    padding: 13px 18px;

    &:hover {
        text-decoration: none;
    }
}

.slider__info-icon {
    width: 20px;
    height: 20px;
    fill: white;
    margin-right: 10px;
}

.slider__info-text {
    color: #ffffff;
}

.slider__display {
    grid-area: display;
    background: #efebe0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__buttons {
    width: 100%;
    grid-area: btns;
    display: flex;
    overflow: hidden;
    user-select: none;
}

.slider__info-title {
    margin-bottom: 40px;
}

.slider__info-skills {
    padding: 20px 0;
    border-top: 1px solid rgba($green, .3);
    border-bottom: 1px solid rgba($green, .3);
    text-align: center;
    color: $green;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.slider__info-button {
    text-align: center;
}

.slider__big-pic {
    max-width: 95%;
    max-height: 95%;
    display: block;
}

.slider__button {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;

    &_next {
        &:after {
            transform: rotate(180deg);
        }
    }

    &:hover {
        &:before {
            background: rgba(#888372, .5);
        }
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(#b6b4ae, .7);
        transition: .3s;
        z-index: 10;
    }

    &:after {
        content: "";
        background: svg-load('arrow_down.svg', fill=#ffffff) center center no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 43px;
        height: 27px;
        z-index: 20;
    }
}

.slider__button-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.slider__button-img-wrap {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__button-pic {
    display: block;
    max-width: 100%;
    max-height: 90%;
    margin: auto;
}