.subtitle {
    color: #455a64;
    font-family: 'bernier';
    font-size: 24px;
    position: relative;
    white-space: nowrap;

    &--about {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-60%, -60%);
        font-size: 63px;
    }

    &--who,
    &--use {
        font-size: 35px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    &--feedback,
    &--slider,
    &--auth  {
        font-size: 35px;

        @include phones {
            font-size: 20px;
        }
    }

    &--about-me {
        @include center;
        font-size: 63px;

        @include phones {
            font-size: 35px;
        }
    }


    &:before {
        background-color: $grey;
        border: 3px solid $grey;
        content: "";
        display: inline-block;
        opacity: 0.2;
        position: absolute;
        top: 50%;
        transform: translate(-200%, -50%);
        width: 20px;

    }

    &:after {
        background-color: $grey;
        border: 3px solid $grey;
        content: "";
        display: inline-block;
        opacity: 0.2;
        position: absolute;
        top: 50%;
        transform: translate(100%, -50%);
        width: 20px;
    }

    &--blog {
        color: #fff;
        font-size: 63px;

        &:before {
            border-color: #fff;
            background-color: #fff;
        }

        &:after {
            border-color: #fff;
            background-color: #fff;
        }
    }
}