.welcome {
  height: 100vh;
  //background: url("./assets/images/bg/mountains.jpg") center center / cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //min-height: 650px;
  perspective: 1000px;

  &__btn {
    position: absolute;
    top: 40px;
    right: 40px;

    @include phones {
      right: 30%;
    }

    &-autoriz {
      padding: 15px 28px;
      border: 1px solid $white;
      border-radius: 4px;
      background-color: transparent;
      font-weight: 400;
      color: $white;
      text-align: center;
      transition: .8s;

      &:hover {
        background-color: #fff;
        color: $green;
      }
    }
  }

  &__block {
    width: 380px;
    height: 395px;
    //background-color: #fcfcfc;
    //opacity: 0.85;
    //border-radius: 5px; 
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 1000px;
    z-index: 1;
  }

  &__copyright {
    position: absolute;
    bottom: 40px;

    @include phones {
      padding: 0 20px;
    }
  }
}